html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#at-plus-container{
    position: relative;
    width: 180px;
    height: 100%;
    margin: auto;
}

#bottom-positioner{
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 100%;
}

#control-ring-container{
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#button:hover #control-ring li {
    opacity: 1;
}

#button:hover #control-ring li.mask {
    background-image: url('assets/images/nomask.png');
    margin-top: 20px;
    margin-left: -28px;
}

#button:hover #control-ring li.history {
    background-image: url('assets/images/history.png');
    margin-top: 60px;
    margin-left: -40px;
}

#button:hover #control-ring li.message {
    background-image: url('assets/images/message.png');
    margin-top: 102px;
    margin-left: -28px;
}

#button:hover #control-ring li.setting {
    background-image: url('assets/images/setting.png');
    margin-top: 133px;
    margin-left: 10px;
}

#button:hover #control-ring li.sign {
    background-image: url('assets/images/signin.png');
    margin-top: 134px;
    margin-left: 63px;
}

#control-ring-container li{
    list-style: none;
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 61.5px;
    margin-left: 36.5px;
    border-radius: 50%;
    background: rgb(105, 105, 105) center no-repeat;
    background-size: 17px 16px;
    opacity: 0;
    transition: all 5s;
}

#control-ring-container li .unread{
    background-color: rgb(252, 57, 45);
    color: white;
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -5px;
    margin-left: 18px;
    border-radius: 50%;
    padding-bottom: 5px ;
    padding-left: 5px;
    box-sizing: border-box;
}

#button{
    width: 50px;
    height: 50px;
    margin: 85px 65px;
}

#info-bar{
    position: absolute;
    bottom: 97px;
    left: 77px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    opcity: 0;
    transition: all 5s;
    overflow: hidden;
}

#info-bar ul{
    margin: 0;
    padding: 0;
}

#info-bar li{
    list-style: none;
    color: white;
    opacity: 0;
    position: absolute;
    bottom: -40px;
    left: -15px;
    transition: all 0.3s;
}

#info-bar li img {
    vertical-align: middle;
}

#info-bar li span {
    margin-left: 8px;
}

#info-bar li.user{
    position: absolute;
    margin-bottom: 115px;
    margin-left: 50px;
}
#info-bar li.like {
    color: #079E6E;
    position: absolute;
    margin-bottom: 52px;
    margin-left: 70px;
}

#info-bar li.posted {
    color: #079E6E;
    position: absolute;
    margin-bottom: 52px;
    margin-left: 28px;
}

#info-bar li.comment {
    font-size: 2em;
    position: absolute;
    margin-bottom: 80px;
    margin-left: 48px;
}

#button:hover #info-bar li{
    opacity: 1;
}

#button:hover #info-bar{
    background-color: rgb(126, 126, 126);
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin-bottom: 60px;
    margin-left: -40px;
    opacity: 1;
}

#button .apb{
    position: absolute;
    bottom: 97px;
    left: 77px;
    width: 26px;
    height: 26px;
    background: url(assets/images/atplus_white.png) no-repeat center;
    background-color: rgb(151, 154, 209);
    background-size: 25px 20px;
    border-radius: 50%;
    transition: all 5s;
}

#button:hover .apb{
    position: absolute;
    bottom: 85px;
    left: 65px;
    width: 50px;
    height: 50px;
    background: url(assets/images/atplus_green.png) no-repeat center;
    background-color: rgba(48, 63, 159, 1);
    border-radius: 50%;
    background-size: 38px 28px;
}
